1、这是一个移动端项目，不要搞 hover 这一套css!!!
2、不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
3、使用 vant ui，不要使用quasar ui
4、这是一个quasar + vue3 + capacitor 开发的ios 项目
5、非常重要，用中文回答我的问题
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!
不要使用google 的 meterial design 风格!!!不要使用google 的 meterial design 风格!!!